
.text{
  display: flex;
  flex-direction: column;
  gap: 24px;
  text-align: center;
  margin: 20px 24px;
  text-transform: capitalize;
  &>h2{
    margin-top: 50px;
    font-size: 32px;
    font-weight: 400;
    line-height: 140%;
  }
  &>p{
    font-size: 16px;
    color: #4D5254;
  }
}

.status{
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-evenly;
  line-height: 110%;
  font-weight: 400;
  &>div{
    display: flex;
    font-size: 12px;
    flex-flow: column nowrap;
    align-items: center;
  }
  &>div>p>span{
    display: none;
  }
}
.status-number{
  display: flex;
  border: 1px solid #2C7EF8;
  color: #2C7EF8;
  border-radius: 100%;
  font-size: 14px;
  min-width: 22px;
  min-height: 22px;
  margin-bottom: 8px;
  text-align: center;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.selected{
  background-color: #2C7EF8;
  color: white;
}

.ok{
  background-image: url(../../assets/main/check.svg);
  background-repeat: no-repeat;
  border-color: transparent;
  color: transparent;
}

.strong{
  font-weight: bold;
}

.blue{
  color: #2C7EF8;
}

.product{
  display: flex;
  &>div{
    display: flex;
    flex-direction: column;
    margin: 24px 20px 0 20px;
    font-size: 14px;
    gap: 24px;
  }
  &>div>h2{
    text-transform: capitalize;
    text-align: center;
    line-height: 140%;
    font-size: 24px;
    font-weight: 400;
  }
  &>div>p{
    /* width: 326px; */
    text-align: center;
    color: #4D5254;
    font-size: 12px;
    line-height: 140%;
  }
}

.comments{
  border-radius: 10px;
  background-color: white;
  font-size: 16px;
  max-width: 575px;
  &>div{
    padding: 24px;
    &>div>p{
      color: #4D5254;
    }
  }
}
.user{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 18px;
  gap: 13px;
}

.info-user{
  display: flex;
  font-size: 14px;
  gap: 10px;
  &>p{
    font-size: 12px;
    color: #5BB59A;
  }
}

.product-details{
  display: flex;
  gap: 16px;
  flex-flow: row nowrap;
  &>div:nth-child(2){
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 12px;
  }
}

.input-radio{
  display: flex;
  gap: 16px;
  font-weight: 300;
  color: #37465A;
}

.product-image{
  background-color: #2C7EF8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-more-details{
  display: flex;
  justify-content: space-between;
  &>div{
    display: flex;
    gap: 8px;
    justify-content: space-between;
    align-items: center;
  }

}

.weak{
  font-size: 10px;
  color: #969696;
  text-decoration: line-through;
  font-weight: 600;
}

.emphases{
  font-size: 14px;
  font-weight: 600;
  color: #2C7EF8;
}

.list{
  display:  flex;
  flex-direction: column;
  gap: 16px;
  &>div{
    align-items: center;
    display: flex;
    font-style: #4D5254;
    gap: 12px;
    justify-content: flex-start;
    font-size: 12px;
  }
}

.discount{
  background-color: #EDF3FD;
  color: #000;
  border-radius: 10px;
  display: flex;
  padding: 12px 16px;
  gap: 16px;
}


.product-right :nth-child(6){
  display: flex;
  flex-direction: column;
  gap: 12px;
}

button{
  background-color: #59AE43;
  border-radius: 50px;
  border: transparent;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  color: white;
  gap: 16px;
  padding: 16px 0;
}

button:hover{
  background-color: #229705;
  transition: ease-in-out .15s;
}

.payment-info{
  font-size: 12px;
  color:  #4D5254;
  text-transform: capitalize;
  border: 1px solid #CFCFCF;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  &>div{
    display: flex;
    padding: 8px 0 12px 0;
    gap: 12px;
    &>div{
      display: flex;
    }
    &>div:nth-child(2){
      gap: 8px;
    }
  }
}

.side-border{
  border-left: 1px solid #CFCFCF;
  padding-left: 12px;
}

.under-border{
  border-bottom: 1px solid #CFCFCF;
}

.link{
  text-transform: uppercase;
  color: #F82C2C;
  text-align: center;
  text-decoration: underline;
  cursor: pointer;
}

.seal{
  display: flex;
  color: #4D5254;
  font-size: 12px;
  gap: 16px;
  margin-bottom: 32px;
}

@media screen and (min-width: 1500px) {
  .status{
    justify-content: space-between;
    &>div{
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: 20px;
    }
    &>div>p>span{
      display: inline;
    }
  }
  .status-number{
    font-size: 20px;
    min-height: 42px;
    min-width: 42px;
    background-position: center;
    background-size: cover;
  }
  .product{
    background-color: #FAFAFA;
    margin: 40px 0 60px 0;
    padding: 40px;
    gap: 40px;
    &>div{
      margin: 0;
    }
    &>div>img{
      max-width: 575px;
      flex-grow: 1;
    }
    &>div:nth-child(2){
      &>h2{
        text-align: left;
        font-size: 32px;
      }
    &>div:nth-child(5){
      display: flex;
      gap: 12px;
      flex-direction: column;
    }
    }
  }
  .product-right>p{
    display: none;
  }


  .product-details{
    &>div>p{
      font-size: 16px;
      color: #4D5254;
    }
    &>div{
      font-size: 20px;
    }
  }

  .emphases{
    font-size: 22px;
  }

  .weak{
    font-size: 16px;
  }

  .list{
    &>div{
      font-size: 16px;
    }
  }

  .discount{
    font-size: 16px;
    align-items: center;
  }

  button{
    font-size: 20px;
  }

  .payment-info{
    flex-direction: row;
    gap: 12px;
  }

  .under-border{
    border-bottom: 0;
  }

  .side-border{
    border-right: 1px solid #CFCFCF;
    padding-right: 12px;
  }

  .link{
    font-size: 18px;
  }

  .seal{
    margin-bottom: 0;
    font-size: 16px;
  }

  .input-radio{
    &>label{
      font-size: 16px;
    }
  }
}

@media screen and (max-width: 1499px) {
  div.product-left{
    display: none;
  }
  .product-image>img{
    width: 80px;
  }

  .product-details:nth-child(2){
    &>div>p{
      display: none;
    }
  }
  .discount>img{
    width: 24px;
  }
}


