.benefits{
  background-color: #252f3d;

  color: aliceblue;
  display: flex;
  margin: 0 auto;
  align-items: center;
  min-height: 42px;
  &>div{
    margin: 0 10px;
    padding: 5px;
  }
}

.benefit{
  display: flex;
  flex-grow: 2;
  font-family: 'Manrope', sans-serif;
  font-weight: 500;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header-logo{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  &>div{
    display: flex;
    gap: 20px;
  }
}