.container {
  display: flex;
  width: 100%;
  margin: 0 0 30px 0;
  background-color: #252F3D;
}
.benefits{
  flex-grow: 1;
  color: aliceblue;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-weight: 500;
  min-height: 42px;
  font-size: 14px;
}

.benefit{
  display: flex;
  flex-grow: 2;
  margin: 0 10px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.header-logo{
  display: flex;
  justify-content: space-between;
  margin: 20px 20px;
  &>div{
    display: flex;
    gap: 20px;
  }
}

.pointer {
  cursor: pointer;
}

.hidden{
  display: none;
}

header{
  &>div{
    margin: 0 128px;
  }
}

@media screen and (min-width: 1500px) {
  .header-logo,.benefits{
    justify-content: space-between;
    max-width: var(--max-width);
    margin: 0 auto;
  }
  .logo{
    width: 100%;
  }
  .benefits{
    gap: 7%;
  }
  .benefit{
    margin: 0;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1499px )  {
  .header
  .header-logo,.benefits{
    padding: 10px 20px;
    max-width: var(--max-width-mobile);
    min-width: var(--min-width-mobile);
    margin: 0 auto;
  }
  .logo>img{
    width: 107px;
  }
  .security>img{
    width: 44px;
  }
}